/* More customizations */

windowcontrols > button > image {
  min-width: 18px;
  min-height: 18px;
  border-radius: 24px;
  color: transparent;
}

windowcontrols.end {
  margin-right: 0px;
}
windowcontrols.start {
  margin-left: 0px;
}

windowcontrols > button {
  min-width: 18px;
  min-height: 18px;
}
windowcontrols > button > image {
  padding: 0;
}
windowcontrols > button.close > image {
  background-color: #fc5753;
  color: transparent;
}
windowcontrols > button.close:hover > image {
  background-color: color-mix(in srgb, white 50%, #fc5753);
}
windowcontrols > button.close:active > image {
  background-color: color-mix(in srgb, white 70%, #fc5753);
}
windowcontrols > button.maximize > image {
  background-color: #33c848;
  color: transparent;
}
windowcontrols > button.maximize:hover > image {
  background-color: color-mix(in srgb, white 50%, #33c848);
}
windowcontrols > button.maximize:active > image {
  background-color: color-mix(in srgb, white 70%, #33c848);
}
windowcontrols > button.minimize > image {
  background-color: #ffba40;
  color: transparent;
}
windowcontrols > button.minimize:hover > image {
  background-color: color-mix(in srgb, white 50%, #ffba40);
}
windowcontrols > button.minimize:active > image {
  background-color: color-mix(in srgb, white 70%, #ffba40);
}

.maximized windowcontrols > button.maximize > image {
  background-color: #33c848;
}
.maximized windowcontrols > button.maximize:hover > image {
  background-color: color-mix(in srgb, white 50%, #33c848);
}
.maximized windowcontrols > button.maximize:active > image {
  background-color: color-mix(in srgb, white 70%, #33c848);
}

windowcontrols > button:backdrop.close > image {
  background-color: color-mix(in srgb, var(--headerbar-bg-color) 80%, var(--headerbar-fg-color));
}
windowcontrols > button:backdrop.close:hover > image {
  background-color: color-mix(in srgb, white 50%, #fc5753);
}
windowcontrols > button:backdrop.close:active > image {
  background-color: color-mix(in srgb, white 70%, #fc5753);
}
windowcontrols > button:backdrop.maximize > image {
  background-color: color-mix(in srgb, var(--headerbar-bg-color) 80%, var(--headerbar-fg-color));
}
windowcontrols > button:backdrop.maximize:hover > image {
  background-color: color-mix(in srgb, white 50%, #33c848);
}
windowcontrols > button:backdrop.maximize:active > image {
  background-color: color-mix(in srgb, white 70%, #33c848);
}
windowcontrols > button:backdrop.minimize > image {
  background-color: color-mix(in srgb, var(--headerbar-bg-color) 80%, var(--headerbar-fg-color));
}
windowcontrols > button:backdrop.minimize:hover > image {
  background-color: color-mix(in srgb, white 50%, #ffba40);
}
windowcontrols > button:backdrop.minimize:active > image {
  background-color: color-mix(in srgb, white 70%, #ffba40);
}

.maximized windowcontrols > button:backdrop.maximize > image {
  background-color: color-mix(in srgb, var(--headerbar-bg-color) 80%, var(--headerbar-fg-color));
}
.maximized windowcontrols > button:backdrop.maximize:hover > image {
  background-color: color-mix(in srgb, white 50%, #33c848);
}
.maximized windowcontrols > button:backdrop.maximize:active > image {
  background-color: color-mix(in srgb, white 70%, #33c848);
}
